<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Tech Blog</title>
</head>
<body id="body" class="m-4">
    <header class="header">
        <h1 class="header-title">
            <span role="img" aria-label="money">💸</span>
            <a href="/">Developer Hub!</a>
        </h1>
        <nav class="header-nav">
            {{#if logged_in}}
                <a href="/dashboard">Profile</a>
                <button class="no-button" id="logout">Logout</button>
                <a href="/">Homepage</a>
            {{else}}
                <a href="/login">Login</a>
                <a href="/">Homepage</a>
            {{/if}}
        </nav>
    </header>
    
    {{{body}}}
    
    {{#if logged_in}}
        <script src="/client-scripts/logout.js"></script>
    {{/if}}
</body>
</html>